
<div id="placeholder" style="background: #b8b8b8; padding: 10px 5px 5px 5px; height: 280px;">
        <div id="images_place" style="float:left">
             <img src="assets/image1.jpg" style="float: left; margin-right: 25px;"/>   <img src="assets/image2.jpg" style="float: left; border: #333333 2px solid;"/>

        </div>

    <div id="sign_up_place" style="float:right; margin-top: 100px; margin-right: 100px;">
      <%= link_to 'Sign Up', {:controller => 'users', :action => 'new'},{:style=>'background:#292929; padding: 15px 30px 15px 30px;color:#fff; -moz-border-radius: 15px;
          border-radius: 15px; font-weight:normal; font-size:16px'} %>
    </div>

</div>

 <div id="recent" style="height: 400px; width:100%; margin-top: 10px;">

    <h4> Recently Uploaded </h4>
   <% @photos.each do |p|     %>
       <div class="recent_pic" style="width:300; height:400; float: left; margin-right:10px;">
          <img width='300' height="300" src="/images/upload_images/<%= p.name  %>"/>

       </div>
    <%   end %>

 </div>